/* 3点リーダー */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* y軸スクロール */
.scrollbar-y {
  overflow: hidden;
  overflow-y: scroll;
}
.scrollbar-y::-webkit-scrollbar {
  width: 10px;
}
.scrollbar-y::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
.scrollbar-y::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}

/* x軸スクロール */
.scrollbar-x {
  overflow: hidden;
  overflow-x: scroll;
}
.scrollbar-x::-webkit-scrollbar {
  height: 10px;
}
.scrollbar-x::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
.scrollbar-x::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}

/* カレンダーのスタイル */
.rbc-btn-group {
  margin: 0 15px;
}
.rbc-btn-group button {
  font-size: 0;
  cursor: pointer;
}
.rbc-btn-group:nth-child(1) button:nth-child(1)::before {
  font-size: 14px;
  content: '今日';
}
.rbc-btn-group:nth-child(1) button:nth-child(2)::before {
  font-size: 18px;
  content: '←';
}
.rbc-btn-group:nth-child(1) button:nth-child(3)::before {
  font-size: 18px;
  content: '→';
}

.rbc-toolbar-label {
  height: 45px;
  line-height: 45px;
}

.rbc-btn-group:nth-child(3) {
  display: none;
}

.rbc-header {
  font-size: 0 !important;
}
.rbc-header:nth-child(1)::before {
  font-size: 18px;
  content: '日';
}
.rbc-header:nth-child(2)::before {
  font-size: 18px;
  content: '月';
}
.rbc-header:nth-child(3)::before {
  font-size: 18px;
  content: '火';
}
.rbc-header:nth-child(4)::before {
  font-size: 18px;
  content: '水';
}
.rbc-header:nth-child(5)::before {
  font-size: 18px;
  content: '木';
}
.rbc-header:nth-child(6)::before {
  font-size: 18px;
  content: '金';
}
.rbc-header:nth-child(7)::before {
  font-size: 18px;
  content: '土';
}
